name: colorful_safe_area
description: A more customizable replacement for the SafeArea widget. It lets you set the color of your SafeArea without affecting the color of its child.  
version: 0.2.0
homepage: https://github.com/ejprok/colorful_safe_area

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
